@import "tailwindcss";
@theme {
  --font-base: 'Inter', sans-serif;

 /* === LIGHT THEME === */
  --color-page: #f8fafc;
  --color-card: #ffffff;
  --color-sidebar: #edf2f6;
  --color-drawer:#ffffff;

  --color-border: #e5e7eb;
  --color-text: #181818;
  --color-text-muted: #64748b;
  --color-placeholder: #94a3b8; 
  /* 🎨 Brand */
  --color-primary: #f97316;
  --color-primary-light: #fb923c;
  --color-primary-dark: #ea580c;

  /* ✅ Status */
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #dc2626; 
  --color-info: #1769aa;

}
/* === DARK THEME === */
.dark {
  /* 🌚 Base Colors */
  --color-page: #212121;      
  --color-card: #2F2F2F;       
  --color-sidebar: #181818;    
  --color-drawer:#191919;
  --color-border: #2d2d2f;       
  --color-text: #F4F4F5;          
  --color-text-muted: #A1A1AA;   
  --color-placeholder: #9ca3af; 


  /* 🎨 Brand */
  --color-primary: #fb923c;       
  --color-primary-light: #fdba74;
  --color-primary-dark: #f97316;

  /* ✅ Status */
  --color-success: #34d399;       
  --color-warning: #fbbf24;       
  --color-error: #ef4444; 
  --color-info: #2196F3; 

}
/* :root { color-scheme: light dark; }
html, body, #root { height:100%; }
body {
  font-family: var(--font-base);
  background: var(--color-page);
  color: var(--color-text);
} */


/* MUI Variantion */
.dark .MuiAlert-colorError {
  background-color: transparent !important;
  border: 1px solid var(--color-error) !important;
}
.dark .MuiAlert-colorSuccess {
  background-color: transparent !important;
  border: 1px solid var(--color-success) !important;
}
.dark .MuiAlert-colorWarning{
  background-color: transparent !important;
  border: 1px solid var(--color-warning) !important;
}


/* UI Variation */
/* Button */
.view-toggle-btn {
  color: var(--color-text) !important;
  /* font-size: 12px; */
  background-color: transparent;
  padding: 0px 6px !important;
  text-transform: inherit !important;
}

.view-toggle-btn:hover,
.view-toggle-btn:focus,
.view-toggle-btn:active {
  color: var(--color-text);
  background-color: transparent;
}

