@import "tailwindcss";

@theme {
  --font-base: 'Inter', sans-serif;


  --color-primary: #f97316;
  --color-primary-light: #fdba74;
  --color-primary-dark: #ea580c;

  --color-sidebar-bg: #f9fafb;        /* slate-50 */
  --color-sidebar-text: #1f2937;      /* slate-800 */
  --color-sidebar-hover: #f1f5f9;     /* slate-100 */

  --color-topbar-bg: #ffffff;         /* white */
  --color-topbar-border: #e5e7eb;     /* gray-200 */
  --color-topbar-text: #64748b	;       /* slate-500 */
  --color-topbar-text-hover: #000000;      
}

.dark {
  --color-primary: #ff8c00;
  --color-primary-light: #ffb347;
  --color-primary-dark: #cc7000;

  --color-sidebar-bg: #1a202c;       /* slate-900 */
  --color-sidebar-text: #e2e8f0;     /* slate-200 */
  --color-sidebar-hover: #2d3748;    /* slate-800 */

  --color-topbar-bg: #111827;        /* gray-900 */
  --color-topbar-border: #1f2937;    /* slate-900 */
  --color-topbar-text: #cbd5e1;      /* slate-300 */
  --color-topbar-text-hover: #ffffff;      
}
